<div class="profile-info">
  <img id="profile-cover" src="{{#if user.cover}}{{user.cover}}{{else}}/images/default-cover.jpg{{/if}}"
    class="card-img-top position-relative" alt="cover"
    style="width:100%; height:190px; filter:brightness(60%);opacity: 0.75;">
  <div class="image position-absolute" style="top:180px; margin:16px">
    <a href="/users/{{user.id}}/tweets">
      {{#if personal.avatar}}
      <img src="{{personal.avatar}}" alt="avatar" class="avatar"
        style="width:140px; height:140px; border-radius:50%; border:4px solid white">
      {{else}}
      <img src="/images/avatar.png" id="profile-avatar" alt="avatar" class="avatar"
        style="width:140px; height:140px; border-radius:50%; border:4px solid white">
      {{/if}}
    </a>
  </div>
</div>
<div class="editprofile d-flex justify-content-end m-3" data-bs-toggle="modal" data-bs-target="#edit-modal">
  <button type="submit" class="btn btn-primary" id="edit-btn" data-target=".bd-example-modal-lg"
    style="color: #ff6600;font-size: 16px;background-color:white;border: 1px solid #FF6600;border-radius:20px; width:128px;height:40px">編輯個人資料</button>
</div>
<div class="card-body p-0" style="margin-top:8px; margin-left:16px;">
  <p class="user-name m-0 " style="color: #171725;font-size: 18px;">
    <strong>{{user.name}}</strong>
  </p>
  <p class="user-name m-0 text-break" style="color: #6C757D;font-size: 14px;">@{{user.account}}</p>
  <p class="card-text mt-1 text-break">{{user.introduction}}</p>
  <div class="d-flex flex-row card-bottom">
    <div class="m-2">
      <a href="/users/{{user.id}}/followings" style="text-decoration:none;">
        <p class="card-text" style="color: #6C757D;font-size: 14px;">
          {{personal.Followings.length}}個跟隨中
        </p>
      </a>
    </div>
    <div class="m-2">
      <a href="/users/{{user.id}}/followers" style="text-decoration:none;">
        <p class="card-text" style="color: #6C757D;font-size: 14px;">
          {{personal.Followers.length}}位跟隨者
        </p>
      </a>
    </div>
    </p>
  </div>
</div>