<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <form action="/api/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-body d-flex justify-content-start">
            <button type="button" class="btn-close m-0" id="modal-close-btn" data-bs-dismiss="modal"
              aria-label="Close"></button>
            <h5 class="modal-title" id="edit-modal-label" style="margin-left:36px">編輯個人資料</h5>
          </div>
          <button type="submit" class="btn btn-primary" id="save-btn"
            style="color: white;font-size: 16px;background-color:#ff6600;border: 1px solid #FF6600;border-radius:20px;width:64px;height:40px;margin-left:24px;">儲存</button>
        </div>
        <div class="modal-body m-0">
          <img src="{{user.cover}}" class="card-img-top position-relative" id="cover" alt="cover"
            style="width:100%; height:200px; filter:brightness(60%);opacity: 0.75;">
        <div>
          <label class="form-labe position-absolute" style="left:330px;top:100px;z-index:1;" for="coverImage">
            <img src="/images/camera.png" alt="camera" style="width:50px;height:50px;">
          </label>
          <input class="form-control" type="file" class="form-control-file" id="coverImage" style="display:none" name="coverImage" onchange="previewCoverImage()">
          <img src="/images/close.png" alt="close" class="position-absolute" id="cover-close-btn"
            style="width5:50px;height:50px;left:430px;top:100px;z-index:1;">
        </div>
        <div class="image position-absolute" style="top:150px; width:130px; height: 130px;">
          <img src="
            {{#if user.avatar}} 
              {{user.avatar}} 
            {{else}} 
              ../../images/avatar.png
            {{/if}}" alt="avatar" class="user-avatar rounded-circles" id="avatar" style="width:140px;height:140;top:140px;margin-left:16px;border-radius:50%;border:4px solid white;">
            <label class="form-labe position-absolute" style="left:60px;top:50px;z-index:1;" for="image">
              <img src="/images/camera.png" alt="camera" style="width5:50px;height:50px;">
            </label>

            <input class="form-control" type="file" class="form-control-file" id="image" style="display:none"
              name="avatar" onchange="previewAvatarImage()">
        </div>
        <div class="form-group form-floating" style="margin-top:100px;margin-left:16px;margin-right:16px;">
          <input type="text" name="name" id="name" class="form-control font-weight-bold m-auto" placeholder="名稱"
            value="{{user.name}}" style="background-color:#F5F8FA; border-bottom: 2px solid #657786;height:54px;"
            oninput="counts()" maxlength='50' required autofocus>
          <label for="name">請輸入名稱</label>
          <div class="text-end" id="char_count_name" style="font-size:12px"><span>0/50</span></div>
        </div>
        <div class="form-group form-floating m-3">
          <textarea type="text" name="introduction" id="introduction" class="form-control font-weight-bold m-auto"
            placeholder="請輸入自我介紹" style="background-color:#F5F8FA; border-bottom: 2px solid #657786;height:147px;"
            maxlength="160" oninput="counts()" required autofocus>{{user.introduction}}</textarea>
          <label for="introduction">自我介紹</label>
          <div class="text-end" id="char_count_intro" style="font-size:12px"><span>0/160</span></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script type="module">

  const editBtn = document.querySelector('#edit-btn')
  const saveBtn = document.querySelector('#save-btn')
  const modalCloseBtn = document.querySelector('#modal-close-btn')
  const coverCloseBtn = document.querySelector('#cover-close-btn')
  const myModal = new bootstrap.Modal(document.getElementById('edit-modal'), {
    keyboard: false
  })

  const cover = document.querySelector('#cover')
  const avatar = document.querySelector('#avatar')
  const name = document.querySelector('#name')
  const introduction = document.querySelector('#introduction')

  const coverImagefile = document.querySelector('#coverImage')
  const avatarImagefile = document.querySelector('#image')


  modalCloseBtn.addEventListener('click', () => {
    avatar.value = ""
    cover.value = ""
  })

  coverCloseBtn.addEventListener('click', () => {
    avatar.value = ""
    cover.value = ""
    document.querySelector('#edit-btn').click()
  })

  editBtn.addEventListener('click', () => {
    axios.get('/api/users/' + {{ user.id }})
    .then(response => {
      const userInfo = response.data
      cover.src = userInfo.cover
      avatar.src = userInfo.avatar || '../../images/avatar.png'
      name.value = userInfo.name
      introduction.value = userInfo.introduction
      document.querySelector('.name-count span').innerText = userInfo.name.length + '/50'
      const userInfoLength = userInfo.introduction?.length || '0'
      document.querySelector('.introduction-count span').innerText = userInfoLength + '/160'
      myModal.show()
    }).catch(err => console.warn(err))
  })
  saveBtn.addEventListener('click', () => {
    if (name.value.length > 50 || introduction.value.length > 160) {
      alert('字數超出上限')
      return
    }
    const formData = new FormData()
    const modalCloseBtn = document.querySelector('#modal-close-btn')
    const coverCloseBtn = document.querySelector('#cover-close-btn')

    formData.append("coverImage", coverImagefile.files[0])
    formData.append("image", avatarImagefile.files[0])
    formData.append('name', name.value)
    formData.append('introduction', introduction.value)
    axios.post('/api/users/{{user.id}}', formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    }).then(response => {
      if (response.data.status = 'success') {
        history.go(0)
      }
    }).catch(err => console.warn(err))
  })
</script>

{{!-- edit User info function --}}
<script>
  function previewAvatarImage() {
    const avatarImageDOM = document.querySelector('#image')
    const avatarImagefile = avatarImageDOM.files
    if (avatarImagefile.length > 0) {
      const fileReader = new FileReader()
      fileReader.onload = function (event) {
        document.getElementById('avatar').setAttribute('src', event.target.result)
      }
      fileReader.readAsDataURL(avatarImagefile[0])
    }
  }

  function previewCoverImage() {
    const coverImageDOM = document.querySelector('#coverImage')
    const coverImagefile = coverImageDOM.files
    if (coverImagefile.length > 0) {
      const fileReader = new FileReader()
      fileReader.onload = function (event) {
        document.getElementById('cover').setAttribute('src', event.target.result)
      }
      fileReader.readAsDataURL(coverImagefile[0])
    }
  }
  function counts() {
    const countName = document.getElementById('name').value.trim().length
    const countIntro = document.getElementById('introduction').value.trim().length
    const countNameText = document.getElementById('char_count_name')
    const countIntroText = document.getElementById('char_count_intro')
    countNameText.innerText = countName + '/50'
    countIntroText.innerText = countIntro + '/160'
    if (countName >= 50) {
      countNameText.style.color = 'red'
    } else {
      countNameText.style.color = 'black'
    }
    if (countIntro >= 160) {
      countIntroText.style.color = 'red'
    } else {
      countIntroText.style.color = 'black'
    }
  }
</script>